@font-face {
    font-family: Alumni Sans SC;
    src: url(fonts/Alumni_Sans_SC/static/AlumniSansSC-ExtraLight.ttf);
}
@font-face {
    font-family: Rubik Dirt;
    src: url(fonts/Rubik_Dirt/RubikDirt-Regular.ttf);
}

body {
    margin: 0px;
    background-color: #6F4E37;
}
.menu {
    background-color: #6F4E37;
    color: #FBEEE6;
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 2;

}
nav {
    font-family: 'Alumni Sans SC';
}
a.ul_menu {
    text-decoration: none;
    color: #FBEEE6;
    display: inline-block;
    font-size: 24px;
    height: 72px;
}
a.ul_menu_blog {
    text-decoration: none;
    color: #FBEEE6;
    display: inline-block;
    font-size: 24px;
    height: 72px;
    float: right;
    padding-right: 25px;
}
ul {
    display: inline;
    text-align: center;
    line-height: 72px;
    margin: 0px;
    padding-left: 25px;
}

.logo_menu {
    float: left;
}

.home {
    background-image: url(images/Chalet_background.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: calc(700px-15px);
    background-attachment: fixed
}

.home_filling {
    background-color: rgba(111, 78, 55, 0.5);
    background-size: cover;
    width: 100%;
    height: 700px;
    color: #FFFAFA;
    box-sizing: border-box; 

            
    flex-direction: column;                             
    align-items: center; 
    text-align: center;

    padding-top: 12px;   
    margin: 0px;
    
}

h1.home_heading {
    display: flex;  
    position: relative;
    margin-top: 260px;
    font-size: 54px;
    font-family: 'Rubik Dirt';        
    flex-direction: column;                             
    align-items: center; 
    text-align: center;      
                    
}

p.home_subheading {
    font-size: 30px;
    font-family: 'Alumni Sans SC';
    margin: 9px;
    letter-spacing: 2px;
}
p.home_subheading2 {
    font-size: 30px;
    margin: -10px;
    font-family: 'Alumni Sans SC';
    letter-spacing: 2px;
}

.arrow_home {
    height: 25px;
    transform: rotate(90deg);
    
    position: relative;
    
    margin-top: 200px;
}

.us {
    background-color: #6F4E37;
    height: 700px;
    width: 100%;
}